.navbar-item img {
  max-height: 5rem;
  border: 1px solid #FFFFFF;
}
.navbar, .navbar-menu {
  background-color: #79AECD;
  box-shadow: none;
  min-height: 4.75rem;
}
.navbar-item, .navbar-link {
  color: #ffffff;
  padding: 0.25rem 1.5rem
}
.navbar-brand a.navbar-item {
  padding: 0rem;
  padding-left: 0.75rem;
}
.navbar-burger {
  color: #354E6E;
  height: 4.75rem;
  position: relative;
  width: 5rem;
  margin-left: auto;
}
.navbar-burger span:nth-child(1) {
    top: calc(50% - 10px);
}
.navbar-burger span:nth-child(2) {
    top: calc(50%);
}
.navbar-burger span:nth-child(3) {
    top: calc(50% + 10px);
}
.navbar-burger span {
    height: 2px;
    left: calc(50% - 16px);
    width: 32px;
}
.section {
  padding: 6rem 1rem;
}
