// run in command line:
// npm run css-build
// npm start to watch changes

// Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

// Set my own initial variables
$blue: #354E6E;
$turquoise: #C8F9EF;
$blue-light: #79AECD;
$turquoise-light: #E0FBFC;
$orange: #F69F8E;
// Add a serif family
$family-sans-serif: "Nunito", sans-serif;

// Set the derived variables
$primary: $turquoise;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
$family-primary: $family-sans-serif;

// 5. Add new color variables to the color map.
@import "../node_modules/bulma/sass/utilities/derived-variables";

$navbar-breakpoint: $tablet;
$navbar-background-color: $blue;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
